.star-background {
  position: fixed;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
}

.star-background span {
  position: absolute;
  color: var(--roxo);
  opacity: 0.2;
  font-size: 22px;
  color: var(--pink);
}

.star-background span:nth-child(1) {
  top: 8%;
  left: 7%;
}

.star-background span:nth-child(2) {
  top: 18%;
  left: 27%;
}

.star-background span:nth-child(3) {
  top: 12%;
  right: 15%;
}

.star-background span:nth-child(4) {
  top: 35%;
  left: 12%;
}

.star-background span:nth-child(5) {
  top: 42%;
  right: 8%;
}

.star-background span:nth-child(6) {
  top: 58%;
  left: 30%;
}

.star-background span:nth-child(7) {
  top: 65%;
  right: 25%;
}

.star-background span:nth-child(8) {
  top: 78%;
  left: 8%;
}

.star-background span:nth-child(9) {
  top: 88%;
  right: 12%;
}

.star-background span:nth-child(10) {
  top: 25%;
  right: 40%;
}

.star-background span:nth-child(11) {
  top: 70%;
  right: 45%;
}

.star-background span:nth-child(12) {
  top: 48%;
  left: 50%;
}

.star-background span:nth-child(13) {
  top: 90%;
  left: 38%;
}

.star-background span:nth-child(14) {
  top: 5%;
  left: 52%;
}

.star-background span:nth-child(15) {
  top: 55%;
  right: 5%;
}

.star-background span:nth-child(16) {
  top: 32%;
  left: 45%;
}
